<p id="notice"><%= notice %></p>

<h1>评论管理</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_comments.each do |admin_comment| %>
      <tr>
        <td><%= admin_comment.visitname %></td>
        <td><%= admin_comment.to %></td>
        <td><%= admin_comment.content[1..100] %></td>
        <td><%= link_to 'Show', admin_comment %></td>
        <td><%= link_to 'Edit', edit_admin_comment_path(admin_comment) %></td>
        <td><%= link_to 'Destroy', admin_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
