<%= stylesheet_link_tag 'front/message' %>
  <div class="outer">
    <div class="articles">
      <div class="articles-title">
        <h1><%= @message.title %></h1>
      </div>
      <div class="articles-meta">
        作者：<%= @message.user.username %>
        标签：<%= @message.tag %>
        分类：<%= @message.category %>
        创建时间：<%= DateTime.parse(@message.created_at.to_s).strftime('%Y-%m-%d') %>
      </div>
      <div class="articles-content">
        <%= markdown @message.content.html_safe %>
      </div>
      <div class="articles-footer">
      </div>
    </div>
    <div class="comment">
      <%= render 'shared/comment',locals:{message_id:@message.id} %>
    </div>
  </div>
