<% @messages.each do |msg| %>
  <div class="outer col-sm-12">
    <div class="article col-sm-7 col-sm-offset-1">
      <div class="article-title">
        <h1><%= msg.title %></h1>
      </div>
      <div class="article-info">
        作者：<%= msg.user.username %>
        标签：<%= msg.tag %>
        分类：<%= msg.category %>
        创建时间：<%= DateTime.parse(msg.created_at.to_s).strftime('%Y-%m-%d') %>
      </div>
      <div class="article-content">
        <%= msg.content.html_safe %>
      </div>
    </div>
    <div class="right col-sm-3">

    </div>
  </div>
<% end %>
