<% @messages.each do |msg| %>
  <div class="outer">
    <div class="articles">
      <div class="articles-title">
        <h1><%= link_to msg.title,message_path(title: msg.title) %></h1>
      </div>
      <div class="articles-meta">
        作者：<%= msg.user.username %>
        标签：<%= msg.tag %>
        分类：<%= msg.category %>
        创建时间：<%= DateTime.parse(msg.created_at.to_s).strftime('%Y-%m-%d') %>
      </div>
      <div class="articles-content">
        <%= markdown msg.content[1..50] %>
      </div>
      <div class="articles-footer">
        <%= button_to "阅读全文", message_path(title: msg.title) ,
                                  method:'get',
                                  class:"btn btn-large more"%>
      </div>
    </div>
  </div>
<% end %>
<%= will_paginate @messages %>
