<p id="notice"><%= notice %></p>

<p>
  <strong>标题:</strong>
  <%= @admin_message.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @admin_message.content %>
</p>

<p>
  <strong>作者:</strong>
  <%= @admin_message.author %>
</p>

<p>
  <strong>标签:</strong>
  <%= @admin_message.tag %>
</p>

<p>
  <strong>分类:</strong>
  <%= @admin_message.category %>
</p>

<p>
  <strong>User:</strong>
  <%= @admin_message.user_id %>
</p>

<%= link_to 'Edit', edit_admin_message_path(@admin_message) %> |
<%= link_to 'Back', admin_messages_path %>
