<%= javascript_include_tag "ckeditor/init" %>
<p class="comment">评论</p>
<hr>

<div class="comments">
  <% @comments.each do |comment| %>
    <div class="visitname">
      <%= comment.visitname %>:
    </div>
    <div class="content">
      <%= markdown comment.content.html_safe %>
    </div>
    <hr>
  <% end %>

</div>

<div class="comment-panel">
  <%= form_tag comment_path, method: :post, class: "" do %>
    <%= text_field_tag(
        :message_id,
        params[:message_id],
        value:@message.id,
        class:"sr-only"
    ) %>
    <%= text_field_tag(
        :username,
        params[:username],
        placeholder: "用户名",
        class: "form-control"
    ) %>
    <%= text_field_tag(
        :email,
        params[:email],
        placeholder: "邮箱",
        class: "form-control"
    ) %>
    <!-- <div class="form-group">
      <%= cktext_area :content, :info, :cols => 40, :ckeditor => {:uiColor => '#fefefe', :toolbar => 'mini'} %>
    </div> -->
    <div class="form-group">
      <%= text_area_tag :content,"",placeholder: "leave something...",rows:"8" ,class:"form-control" %>
    </div>
    <%= submit_tag "评论" %>
  <% end %>
</div>
