
<div class="side-part">
  <div class="title"><p>最新文章</p></div>
  <hr>
  <div class="content">
    <ul class="list-group">
      <% @latest_messages.each do |message| %>
        <li class=""><%= link_to message.title,message_path(message.title) %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="side-part">
  <div class="title"><p>分类</p></div>
  <hr>
  <div class="content">
    <ul class="list-group">
      <% @categories.each do |category| %>
        <li class="">
          <a href=<%= messages_to_category_path(categoryname:category.name) %> >
             <%= category.name %>
             <span class="badge">
               <%= category.messages.count %>
             </span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="side-part">
  <div class="title"><p>标签</p></div>
  <hr>
  <div class="content">
    <!-- <ul class="list-group"> -->
      <% @tags.each do |tag| %>
        <span class="label label-default"><%= link_to tag.name,messages_to_tag_path(tagname:tag.name) %></span>
      <% end %>
    <!-- </ul> -->
  </div>
</div>
