<%= stylesheet_link_tag 'front/search' %>
<% @search_messages.each do |msg| %>
  <div class="outer">
    <div class="articles">
      <div class="articles-title">
        <h1><%= link_to msg.title,message_path(title: msg.title) %></h1>
      </div>
    </div>
  </div>
<% end %>

<% @search_users.each do |user| %>
  <%= link_to user.username,messages_to_user_path(username:user.username) %>
<% end %>
<% @search_tags.each do |tag| %>
  <%= link_to tag.name %>
<% end %>
<% @search_categories.each do |category| %>
  <%= link_to category.name %>
<% end %>
