<p id="notice"><%= notice %></p>
<% if @super_path %>
  <%= link_to '返回', @super_path %>
<% end %>
<h1>菜单管理</h1>
<div class="quick_option btn-group" role="group" base-url="<%= front_navs_url %>">
  <a href="<%= new_front_nav_path %>" data-method="get" rel="nofollow" class="btn btn-default">
    <i class="glyphicon glyphicon-plus"></i>
    新建菜单
  </a>
  <a id="view" class="btn btn-default" disabled="disabled">
    <i class="glyphicon glyphicon-align-justify"></i>
    详细信息
  </a>
  <a id="edit" class="btn btn-default" disabled="disabled">
    <i class="glyphicon glyphicon-pencil"></i>
    编辑
  </a>
  <a id="del" rel="nofollow" class="btn btn-default" disabled="disabled">
    <i class="glyphicon glyphicon-trash"></i>
    批量删除
  </a>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>
        <input type="checkbox" class="p_checkbox" id="check_all">
      </th>
      <th>Text</th>
      <th>User</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @front_navs.each do |front_nav| %>
    <% subnavs = front_nav.subnavs %>
    <tr class="item_line">
      <td>
        <input type="checkbox" class="p_checkbox" value="<%= front_nav.id %>">
      </td>
      <td><%= link_to front_nav.text,front_nav %></td>
      <% if subnavs.count==0 %>
      <td><%= link_to "新增", new_front_nav_path+"?id=#{front_nav.id}" %></td>
      <% else %>
      <td>
        <%= link_to subnavs.count.to_s+"个子菜单",front_nav %>/
        <%= link_to "新增", new_front_nav_path+"?id=#{front_nav.id}" %>
      </td>
      <% end %>
      <td>
        <div class="dropdown">
          <a id="btn1" class="btn btn-link" type="button" data-toggle="dropdown">
            编辑
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to '编辑', edit_front_nav_path(front_nav) %></li>
            <li><%= link_to '删除', front_nav, method: :delete, data: { confirm: "确定要删除该菜单？" } %></li>
          </ul>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
