<p id="notice"><%= notice %></p>
<%= button_to '返回', admin_users_path, method: :get, class:"btn btn-success" %>
<p>
  <strong>用户名:</strong>
  <%= @admin_user.username %>
</p>

<p>
  <strong>姓名:</strong>
  <%= @admin_user.realname %>
</p>

<p>
  <strong>邮箱:</strong>
  <%= @admin_user.email %>
</p>
