<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Front</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'front', media: 'all',"data-no-turbolink":'true' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'front',"data-no-turbolink":'true' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <%= render 'shared/top' %>
    <%= render 'shared/header' %>
  </div>

  <div class="main">
    <div class="middle">
      <%= yield %>
    </div>
    <div class="side">
      <%= render 'shared/side' %>
    </div>
  </div>

  <div class="footer">
    <%= render 'shared/footer' %>
  </div>

</body>
</html>
