<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>后台登陆</title>
  <%= stylesheet_link_tag    'standard', media: 'all' %>
  <%= javascript_include_tag 'standard' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    This is the header
  </div>

  <div class="mainer">
    <%= yield %>
  </div>

  <div class="footer">

  </div>

  <%= javascript_include_tag params[:controller] %>
</body>
</html>
